@import "../../app.scss";

.cna-mail_sent {
    @include background;
    @include single-wrapper;
    &-items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Montserrat, sans-serif;
        color: $color-primary;
        & > img {
            width: 75px;
        }
    }
}
