@import "../../app.scss";
.cna-home {
    &-main {
        @include center-wrapper;
        @include background;
        padding: 0 5%;
        width: 90%;
        & > h2 {
            font-family: Quicksand, sans-serif;
            color: $color-background;
            font-size: 32px;
            font-weight: 500;
            text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
            margin-bottom: 0;
            & > span {
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.76);
                color: $color-primary;
                font-weight: bold;
            }
        }
        & > p {
            color: $color-background;
            font-family: Montserrat, sans-serif;
            margin-top: 0;
        }
    }
    &-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
