@import "../../app.scss";

.cna-register {
    @include center-wrapper;
    @include background;

    &-heading {
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        color: $color-primary;
        margin: 10px 0;
    }
    &-inputs {
        width: 100%;
        &-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            & > input {
                width: 44%;
            }
        }
        & > img {
            @include input-tick;
        }
    }
    &-btn {
        @include auth-btn;
    }
}

input {
    margin-top: 10px;
}
