@import "../../app.scss";

.cna-login {
    @include center-wrapper;
    @include background;

    &-form {
        &-heading {
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            margin-top: 10px;
            color: $color-primary;
        }
        &-input {
            width: 100%;
            & > img {
                @include input-tick;
            }
            & > input {
                margin-top: 40px;
            }
        }

        &-btn {
            @include auth-btn;
        }
        &-forgot_pass {
            font-family: Montserrat, sans-serif;
            text-decoration: none;
            color: #696969;
            transition: 500ms;
            & > span {
                color: $color-primary;
            }
            &:hover {
                transition: 500ms;
                opacity: 0.5;
            }
        }
    }
}
