@import "../../app.scss";

.cna-side_navigation-item {
    width: 32px;
    height: 32px;
    transition: 500ms;
    cursor: pointer;
    &:not(:first-child) {
        padding-top: 30px;
    }
    & > img {
        width: inherit;
        height: inherit;
    }
    &:hover {
        opacity: 0.4;
        filter: brightness(1.1);
        transition: 500ms;
    }
}
