@import "../../app.scss";

.cna-player {
    background-color: $color-light;
    width: 100%;
    display: flex;
    flex-direction: column;

    &-wrapper {
        background: linear-gradient(#ecececee, #ecececff), url('../../assets/home/background.jpg');
        background-size: cover;
        width: 100%;
        height: calc(100vh - #{$current-song-height});
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
}
